@charset "utf-8";
.review{
	/*background:#7e7c7c;*/
	color:#9300a4;
}
::selection {
  background: #9300a4; /* WebKit/Blink Browsers */
	/*background:red;*/
	color:white;
}
::-moz-selection {
  background: #9300a4; /* Gecko Browsers */
	color:white;
}


h3 {
  position: relative;
  text-align: center;
  font-size: 150%;
  font-family: 'Cinzel Decorative', cursive;
}

h3 span {
  /*background: #000;*/
  padding: 0 15px;
  position: relative;
  z-index: 1;
  /*font-family: 'Cinzel Decorative', cursive;*/
}

h3:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    /*This was 50%*/
    top: 150%;
  width: 100%;
}
h3:before {
  left: 0;
}


body {
	margin:0;
	padding:0;
	width:100%;
	color:#7e7c7c; /* Color of the text in the body*/
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	font-family: 'Cinzel Decorative', cursive;
	/*font-family:'OptimusPrinceps';*/
	font-size: 15px;
	/*background:#090909 url(../images/main_bg.gif) repeat left top;*/
    /*background color Previously it was #090909*/
	background:#000000;
}
html, .main {
	padding:0;
	margin:0;
}

.smallround{
    border-radius: 15px;
}

.roundrect {
    border-radius: 55px;
}
.roundrect:hover {
    
}
.main {
	background:no-repeat center top;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	line-height:1.2em;
	color:#fff;
	text-transform:none;
	/*font-family:"OptimusPrinceps.ttf";*/
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#9300a4;	
	/*color:#d9d9dc;*/
	text-decoration:bold;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0 0 24px;
	width:962px;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:90px;
}
h1 {
	margin:0;
	padding:18px 0 0;
	font-size:45px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:2px;
	/*font-family:"OptimusPrinceps";*/
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	margin:0;
	font-size:15px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#fff;font-weight:bold;
}
.slider {
	margin:0 -270px;
	padding:0;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0;
	padding:18px 0 0;
	height:50px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0 12px;
	height:50px;
	float:left;
	/*background:url(../images/menu.gif) repeat-x left top;*/
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	/*background:url(../images/menu_split.gif) no-repeat right center;*/
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:17px 24px 0;
	height:33px;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	color:#b6b7b7;
	text-decoration:none;
	text-transform:none;
	text-align:center;
	position:relative;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#fff;
	bottom:2px;
	background:#000000;
	/*background:#9300a4*/
	/*background:#202020;*/
	/*background:url(../images/menu_a.gif) repeat-x left top;*/
}
.content {
	/*background:#181818 url(../images/content_bg.gif) repeat left top;*/
    /*Color of the Content Background*/
	background:#090909; /*Previously it was #181818*/
	background-image: url("images/bkg.jpg");
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:660px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding:6px 12px;
	/*background:#9B3F86;*/
	background:url(../images/h2.gif) repeat-x left top;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:none;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px;
}
.content .mainbar .post_content {
	float:right;
	width:420px;
}
.content .mainbar .post_content strong {
	color:#7e7c7c;
}
.content .sidebar {
	padding:0;
	float:left;
	width:280px;
}
.content .sidebar .gadget {
	margin:0 0 12px 20px;
	padding:6px 0 24px;
}
.content .sidebar h2 {
	padding:6px 12px;
	background:url(../images/h2.gif) repeat-x left top;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#7e7e7e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:220px;
	background:repeat-x left bottom;
}
ul.sb_menu li a {
	color:#7e7e7e;
	text-decoration:none;
	margin-left:0;
	padding:4px 8px 4px 0;
	background:no-repeat left center;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#7e7e7e;
	text-decoration:none;
	background:no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#d9d9dc;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
}
p.infopost {
	margin:0;
	padding:6px 0;
	text-transform:none;
	color:#b6b7b7;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	color:#d9d9dc;
	font-weight:bold;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
	color:#d9d9dc;
}
.article a:hover {
	text-decoration: none;
	color:#FFFFFF;
}
.article a {
	text-decoration: none;
	color:#9300a4;
	-o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  /* ...and now for the proper property */
	  transition:.5s;
}
.article a.com {
	margin:0;
	padding:3px 0 0;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#b6b7b7;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:bold;
	color:#fff;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 12px;
	padding:9px 12px;
	font-size:18px;
	font-weight : 20px;
	line-height:20px;
	/*font-weight:normal;*/
	text-transform:none;
	color:#d9d9dc;
	text-decoration:none;
	text-align:center;
	background:#404040;
    font-family: 'Cinzel Decorative', cursive;
	/*background:url(../images/readmore.jpg) repeat-x left top;*/
}
.post_content a.rm:hover {
	background:#202020; /*Color of the Play Button*/
}
.post_content {
	/*
	font-size:16px;
	color:#FFFFFF;
	*/
	font-weight:bold;line-height: 125%;
	font-family: "CaviarDreams";
	font-size:16px;
	text-align:center;
}
.post_content a {
	    text-decoration: none;
	color:#9300a4;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.post_content a:hover {
	    text-decoration: none;
	color:#FFFFFF;
}
.article {
	/*
	font-size:16px;
	color:#FFFFFF;
	*/
	font-weight:bold;
	font-family: "CaviarDreams";
	font-size:16px;
	text-align:center;
}
.post_content a {
	/*
	font-size:16px;
	color:#FFFFFF;
	*/
	font-weight:bold;
	font-family: "CaviarDreams_BoldItalic";
	font-size:16px;
	color="#9300a4";
	text-align:center;
}

.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	line-height:16px;
	color:#fff;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding:7px 0;
	width:30px;
	text-decoration:none;
	text-align:center;
	background:no-repeat center center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#235288;
}
.content p.pages a {
	color:#fff;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	border-bottom:1px solid #000;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
}
.fbg h2 {
	margin-bottom:24px;
	padding-bottom:8px;
	color:#fff;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #1d1d1e;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#fff;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#fff;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#fff;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}

.readmore{
    
    /*
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
    */
    /*background-color: #8B008B;*/
}
.readmore a{
    border-radius: 5px;
    /*Padding*/
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    /*Padding End*/
    color: #FFFFFF;
    background-color: #800080;
    /*font-family: "Times New Roman", Times, serif;*/
    font-size: 20px;
    font-weight: bold;
    /*background-color: #736F6E;*/
}
.readmore a:hover{
    color: #FFFFFF;
    background-color: #151515;
}

ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:20px 0 12px 20px;
	float:left;
}
#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 10px;
	float:left;
	width:213px;
	font-size:12px;
	line-height:16px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	border-top:1px solid #151515;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:#fff;
}
.footer_resize p {
	margin:32px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#fff;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#fff;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
