---
layout: default

style:
  browse

title: Projects
---

{% assign sorted_assets = (site.assets | sort: 'priority') %}

<div class="browse">

	<div class="course-assets" id="course-assets">

	<h1>Projects</h1>

        <h2>Google Summer of Code</h2>
        <section>
	{% for asset in sorted_assets %}
		{% if asset.show and asset.game==false and asset.industry %}

			{% include one-third-asset.html asset=asset %}
			
		{% endif %}
	{% endfor %}
        </section>
        </div>


	<div class="course-assets" id="course-assets">

	<h2>Others</h2>
	<p><a href="https://github.com/algorithm-visualizer">Algorithm Visualizer</a></p>
		<!--
        <h2>Personal Projects</h2>

        <section>
	{% for asset in sorted_assets %}
		{% if asset.show and asset.game==false and asset.industry==false %}

			{% include one-third-asset.html asset=asset %}
			
		{% endif %}
	{% endfor %}
		-->
        </section>

	</div>
</div>
