---
layout: default

style:
  browse

title: Games
---

{% assign sorted_assets = (site.assets | sort: 'priority') %}

<div class="browse">

	<div class="course-assets" id="course-assets">

	<h1>Video Game Projects</h1>

        {% assign game_year = '-1' %}
        {% assign sorted = (sorted_assets | sort: 'year') | reverse %}

        <section>
	{% for asset in sorted %}
		{% if asset.show and asset.game%}

                        {% if asset.year != game_year%}
                                {% if game_year != '-1'  %}
                                        </section>
                                        <section>
                                {% endif %}
                                {% assign game_year = asset.year %}
                                <br>
                                <p align="center">{{ game_year }}</p>
                                <hr>
                                <br>
                        {% endif %}
			{% include one-third-asset.html asset=asset %}
			
		{% endif %}
	{% endfor %}
        </section>

	</div>
</div>
