---
layout: default

style:
  browse

title: Games
---

{% assign sorted_assets = (site.assets | sort: 'priority') %}

<div class="browse">

	<div class="course-assets" id="course-assets">

	<h1>Video Game Projects</h1>

	<h3>Few Recent ones</h3>
    <section>

        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/the-arrangement">
                <img src="https://img.itch.zone/aW1nLzE1Nzc0MjMyLnBuZw==/315x250%23c/fPlo95.png" alt="The Arrangement">
            </a>

        </div>


        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/unchained">
                <img src="https://img.itch.zone/aW1nLzk5MDM5OTYucG5n/315x250%23c/wf9nW5.png" alt="Unchained">
            </a>

        </div>



        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/echo">
                <img src="https://img.itch.zone/aW1nLzUxMjM5MTgucG5n/315x250%23c/N8Q9pb.png" alt="Echo">
            </a>

        </div>




        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/antithesis">
                <img src="https://img.itch.zone/aW1nLzQzOTA2OTYucG5n/315x250%23c/ELW8%2FO.png" alt="Antithesis">
            </a>

        </div>





        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/the-myth">
                <img src="https://img.itch.zone/aW1nLzI1MzAxNzAucG5n/315x250%23c/i%2BspqR.png" alt="The Myth">
            </a>

        </div>






        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/only-one-at-a-time-gmtk">
                <img src="https://img.itch.zone/aW1nLzIzNjMyMTUucG5n/315x250%23c/hTLGhG.png" alt="One at a Time">
            </a>

        </div>







        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://rudra.itch.io/the-descendant">
                <img src="https://img.itch.zone/aW1nLzIzNDEyNTEucG5n/315x250%23c/oyc%2BTq.png" alt="The Descendant">
            </a>

        </div>








        <!-- Game Section -->
        <div class="one-third-asset asset">
            <a href="https://gamejolt.com/games/space_time/361177">
                <img src="https://i.gjcdn.net/public-data/games/5/177/361177/media/game-description/5d094c19efb41-uedx7bui.gif" alt="Space Time (Ludum Dare 42)">
            </a>

        </div>

    </section>

	<h3>Other Games sorted by year</h3>

        {% assign game_year = '-1' %}
        {% assign sorted = (sorted_assets | sort: 'year') | reverse %}

        <section>
	{% for asset in sorted %}
		{% if asset.show and asset.game and asset.showcase%}

                        {% if asset.year != game_year%}
				{% if game_year != '-1'  %}
					</section>
					<section>
				 {% endif %}
			  {% assign game_year = asset.year %}
			  <br>
			  <p align="center">{{ game_year }}</p>
			  <hr>
			  <br>
                        {% endif %}
			{% include one-third-asset.html asset=asset %}
			
		{% endif %}
	{% endfor %}
        </section>

	</div>
</div>
