<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
	<div class="wrapper">
                <p>Get in touch!</p>
                <hr>
	<div class="first-third">
                <p>EMAIL<br>rudra.nil.basu.1996@gmail.com</p>
		</div>

		<div class="second-third">
                        <p>SOCIAL</p>
                        <a href="https://www.facebook.com/rudra.n.basu" class="fa fa-facebook"></a>
                        &nbsp;
                        <a href="https://twitter.com/RudraNilBasu" class="fa fa-twitter"></a>
                        &nbsp;
                        <a href="https://github.com/RudraNilBasu" class="fa fa-github"></a>
                        &nbsp;
                        <a href="https://www.linkedin.com/in/rudranilbasu/" class="fa fa-linkedin"></a>
                        &nbsp;
                        <a href="https://www.youtube.com/c/RudraNilBasuGAME" class="fa fa-youtube"></a>
		</div>

		<div class="third-third">
			<p>
				Hosted by <br>
				<a target="_blank" href="https://github.com"><b>Github</b></a>
			</p>
		</div>
	</div>
</footer>
