<section class="three-sections">
	<div>
		<h3>Prototypes</h3>
                <p>Mostly things that come out of Game Jams and stuff. Most experimental games are available in <a href="https://rudra.itch.io/">itch.io</a> and <a href = "https://gamejolt.com/@r_n_b">gamejolt</a>.</p>
		<a href="{{site.github.url}}/games/">View</a>
	</div>

	<div>
		<h3>Other Stuff</h3>
                <p> Few open source projects I contributed to a little can be found on <a href="https://github.com/{{ site.github_username }}">Github</a>.</p>
		<a href="{{site.github.url}}/projects/">View</a>
	</div>

	<div>
		<h3>Blog</h3>
                <p> Very rarely I end up writting things that I find interesting. </p>
                <a target="_blank" href="https://rudranilbasu.github.io/blog_v2/">Go to Blog</a>
	</div>

</section>
