<section class="three-sections">
	<div>
		<h3>Games</h3>
                <p>Over 15+ video game projects, made using <a href="https://unity3d.com/" target="_blank">Unity Game Engine</a> in the last 4 years.</p>
		<a href="{{site.github.url}}/games/">View all Games</a>
	</div>

	<div>
		<h3>Non game projects</h3>
                <p>Mostly consisting of <a href="http://github.com/{{ site.github_username }}">open source projects</a>, hackathon projects or university projects.</p>
		<a href="{{site.github.url}}/guidelines/">View all Projects</a>
	</div>

	<div>
		<h3>Current Status</h3>
                <p> Final year CS undergrad, SDE Intern at <a href="https://www.hackerrank.com/">HackerRank</a>. Makes games in free time and won <a href="{{site.github.url}}/achievements/">few awards</a> by doing so. Currently working under KDE for GSoC 2017 </p>
                <a target="_blank" href="{{site.github.url}}/docs/resume.pdf">Resume</a>
	</div>

</section>
