---
layout: default

style:
  browse

title: Experience
---

{% assign sorted_assets = (site.assets | sort: 'priority') %}

<div class="browse">

	<div class="course-assets" id="course-assets">

	<h1>Projects</h1>

        <h2>Work experience</h2>
        <section>
            <p>HackerRank</p>
            <p>Winter Intern (January 2018 - Present)</p>
	<!-- {% for asset in sorted_assets %} -->
		<!-- {% if asset.show and asset.game==false and asset.industry %} -->

			<!-- {% include one-third-asset.html asset=asset %} -->
			
		<!-- {% endif %} -->
	<!-- {% endfor %} -->
        </section>
        </div>
</div>
