---
layout: default

title: Browse
---

{% assign projects = site.assets %}

<div class = "browse">

<h1>Games</h1>

{% for project in projects %}
	{% if project.category == "game" %}
		{% include browse-medium.html asset=project %}
	{% endif %}
{% endfor %}

<br>
<a href="/games/">View more...</a>

</div>


<div class = "browse">

<h1>Open Source Projects</h1>

{% for project in projects %}
	{% if project.category == "opensource" %}
		{% include browse-medium.html asset=project %}
	{% endif %}
{% endfor %}

<br>
<a href="/games/">View more...</a>

</div>

<div class = "browse">

<h1>Art</h1>

{% for project in projects %}
	{% if project.category == "art" %}
		{% include browse-medium.html asset=project %}
	{% endif %}
{% endfor %}

<br>
<a href="/art/">View more...</a>

</div>



<div class = "browse">

<h1>Others</h1>

{% for project in projects %}
	{% if project.category == "other" %}
		{% include browse-medium.html asset=project %}
	{% endif %}
{% endfor %}

<br>
<a href="/games/">View more...</a>

</div>


<style>
.browse {
	max-width: 967px;
	margin: auto;
}
</style>
