---
layout: default

style:
  - browse
  - asset-view

title: Browse
---

{% assign sorted_assets = (site.assets | sort: 'year') %}

<div class="browse">

	{% include featured-two-thirds.html %}

	{% include featured-one-third.html %}

	{% include featured-banner.html %}

        <h1>Video Game Development</h1>
        <hr>

        {% assign count = 0 %}
        {% for asset in sorted_assets %}
                {% if asset.game  %}
                        {% include one-third-asset.html asset=asset %}
                        {% assign count = count | plus: 1 %}
                        {% if count >= 3 %}
                                {% break %}
                        {% endif %}
                {% endif %}
        {% endfor %}

        <!--<div class="btn"><p align="center"><a href="/games/">View More</a></p></div>-->
        <!--<p align="center"><a href="/games/" class="btn">View More</a></p>-->
        <p align="center">Made with Unity game engine, all games are available on <a href="http://gamejolt.com/@r_n_b" target="_blank">gamejolt.com/@r_n_b</a>.</p>
        <div class="button"><a href="/games/" class="big-button">View More</a></div>


        <h1>Other Projects</h1>
        <hr>

        {% assign count = 0 %}
        {% for asset in sorted_assets %}
                {% if asset.game==false  %}
                        {% include one-third-asset.html asset=asset %}
                        {% assign count = count | plus: 1 %}
                        {% if count >= 3 %}
                                {% break %}
                        {% endif %}
                {% endif %}
        {% endfor %}
        <p align="center">Mostly open source projects, which can be found on <a href="http://github.com/RudraNilBasu">github.com/RudraNilBasu</a></p>
        <div class="button"><a href="/projects/" class="big-button">View More</a></div>

        <h1>Awards</h1>
        <hr>
        <p align="center">Few awards I have picked along the way</p>
        <section>
        {% for asset in sorted_assets %}
                        {% if asset.awards %}
                        {% assign img-folder = asset.title | remove: " -" | replace: " ", "-" | downcase %}
                        {% assign img-path = site.asset-img-path | append: img-folder %}
                                <img class="award" width="214" height="119" src="{{site.github.url}}{{img-path}}/{{asset.awards}}" alt="{{page.title}} Award    " border="0">
                        {% endif %}
                {% endfor %}
        </section>
        <section><br></section>
        <section><div class="button"><a href="/achievements/" class="big-button">View More</a></div></section>
        
        <!--
	{% include featured-two-thirds.html %}

	{% include featured-one-third.html %}

	{% include featured-banner.html %}

	{% for asset in sorted_assets %}
		{% if asset.show %}

			{% unless asset.is-for-course %}

			{% include one-third-asset.html asset=asset %}

			{% endunless %}

		{% endif %}
	{% endfor %}

	<div class="course-assets" id="course-assets">

	<h1>Course Assets</h1>
	<p>Models, sprites, scripts, sounds etc. used in the <a href="http://youtube.com/brackeys/">Brackeys</a> courses.</p>

	{% for asset in sorted_assets %}
		{% if asset.show and asset.is-for-course%}

			{% include one-third-asset.html asset=asset %}
			
		{% endif %}
	{% endfor %}

	</div>

        -->

</div>
